@charset "utf-8";
@import "../layout/layout";
@import "../module/m-demo";
@import "../module/m-code";
@import "../../../lib/fragment/gu-header";
@import "../../../lib/fragment/gu-list";
@import "../../../lib/element/gu-btn";

.g-footer{
	padding:10px;
	padding-bottom:20px;
	text-align:center;
}
