@charset "utf-8";
@import "../layout/layout";
@import "../module/m-demo";
@import "../module/m-code";
@import "../../../lib/element/gu-btn";
@import "../../../lib/fragment/gu-list";
@import "../../../lib/animate/gu-btn";

.gu-list .item{
	padding:13px;
	text-align:center;
	@include justify-content(center);
	&:last-child{
		border-bottom: none;
	}
	> a:hover{
      animation: none;
      -webkit-animation: none;
    }
}
