<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<link rel="apple-touch-icon-precomposed" href="/qunar-touch.png" />
<title>toolbar</title>
<link rel="stylesheet" href="../../usage/demo/export/gu-toolbar.css" />
</head>
<body>

<div class="m-demo">
    <div class="device">
        <div class="stage">
            <h2 class="gu-header">Default Toolbar</h2>
            <div class="g-footer">
                <ul class="gu-toolbar">
                    <li class="item">
                        <div class="cont">
                            Home
                        </div>
                    </li>
                    <li class="item">
                        <div class="cont">
                            TOOLS
                        </div>
                    </li>
                    <li class="item">
                        <div class="cont">
                            GITHUB
                        </div>
                    </li>
                    <li class="item">
                        <div class="cont">
                            LOVE
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <code class="code"><xmp>
    <ul class="gu-toolbar">
        <li class="item">
            <div class="cont">
                Home
            </div>
        </li>
        <li class="item">
            <div class="cont">
                TOOLS
            </div>
        </li>
        <li class="item">
            <div class="cont">
                GITHUB
            </div>
        </li>
        <li class="item">
            <div class="cont">
                LOVE
            </div>
        </li>
    </ul>
</xmp></code>
</div>


<div class="m-demo">
    <div class="device">
        <div class="stage">
            <h2 class="gu-header">Icon Toolbar</h2>
            <div class="g-footer">
                <ul class="gu-toolbar">
                    <li class="item">
                        <div class="cont">
                            <i class="yo-ico decorate">&#xf015;</i>
                        </div>
                    </li>
                    <li class="item">
                        <div class="cont">
                            <i class="yo-ico decorate">&#xf085;</i>
                        </div>
                    </li>
                    <li class="item">
                        <div class="cont">
                            <i class="yo-ico decorate">&#xf09b;</i>
                        </div>
                    </li>
                    <li class="item">
                        <div class="cont">
                            <i class="yo-ico decorate">&#xf004;</i>
                        </div>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
    <code class="code"><xmp>
    <ul class="gu-toolbar">
        <li class="item">
            <div class="cont">
                <i class="yo-ico decorate">&#xf015;</i>
            </div>
        </li>
        <li class="item">
            <div class="cont">
                <i class="yo-ico decorate">&#xf085;</i>
            </div>
        </li>
        <li class="item">
            <div class="cont">
                <i class="yo-ico decorate">&#xf09b;</i>
            </div>
        </li>
        <li class="item">
            <div class="cont">
                <i class="yo-ico decorate">&#xf004;</i>
            </div>
        </li>
    </ul>
</xmp></code>
</div>



<div class="m-demo">
    <div class="device">
        <div class="stage">
            <h2 class="gu-header">Theme Toolbar</h2>
            <div class="g-footer">   
                <ul class="gu-toolbar gu-toolbar-light">
                    <li class="item">
                        <div class="cont">
                            <i class="yo-ico decorate">&#xf015;</i>
                            Home
                        </div>
                    </li>
                    <li class="item">
                        <div class="cont">
                            <i class="yo-ico decorate">&#xf085;</i>
                            TOOLS
                        </div>
                    </li>
                    <li class="item">
                        <div class="cont">
                            <i class="yo-ico decorate">&#xf09b;</i>
                            GITHUB
                        </div>
                    </li>
                    <li class="item">
                        <div class="cont">
                            <i class="yo-ico decorate">&#xf004;</i>
                            LOVE
                        </div>
                    </li>
                </ul>
                <ul class="gu-toolbar gu-toolbar-disabled">
                    <li class="item">
                        <div class="cont">
                            <i class="yo-ico decorate">&#xf015;</i>
                            Home
                        </div>
                    </li>
                    <li class="item">
                        <div class="cont">
                            <i class="yo-ico decorate">&#xf085;</i>
                            TOOLS
                        </div>
                    </li>
                    <li class="item">
                        <div class="cont">
                            <i class="yo-ico decorate">&#xf09b;</i>
                            GITHUB
                        </div>
                    </li>
                    <li class="item">
                        <div class="cont">
                            <i class="yo-ico decorate">&#xf004;</i>
                            LOVE
                        </div>
                    </li>
                </ul>
                <ul class="gu-toolbar gu-toolbar-normal">
                    <li class="item">
                        <div class="cont">
                            <i class="yo-ico decorate">&#xf015;</i>
                            Home
                        </div>
                    </li>
                    <li class="item">
                        <div class="cont">
                            <i class="yo-ico decorate">&#xf085;</i>
                            TOOLS
                        </div>
                    </li>
                    <li class="item">
                        <div class="cont">
                            <i class="yo-ico decorate">&#xf09b;</i>
                            GITHUB
                        </div>
                    </li>
                    <li class="item">
                        <div class="cont">
                            <i class="yo-ico decorate">&#xf004;</i>
                            LOVE
                        </div>
                    </li>
                </ul>
                <ul class="gu-toolbar gu-toolbar-info">
                    <li class="item">
                        <div class="cont">
                            <i class="yo-ico decorate">&#xf015;</i>
                            Home
                        </div>
                    </li>
                    <li class="item">
                        <div class="cont">
                            <i class="yo-ico decorate">&#xf085;</i>
                            TOOLS
                        </div>
                    </li>
                    <li class="item">
                        <div class="cont">
                            <i class="yo-ico decorate">&#xf09b;</i>
                            GITHUB
                        </div>
                    </li>
                    <li class="item">
                        <div class="cont">
                            <i class="yo-ico decorate">&#xf004;</i>
                            LOVE
                        </div>
                    </li>
                </ul>
            </div> 
        </div>
    </div>
    <code class="code"><xmp>
    添加主题色:
    theme:(
        //{bgcolor} {color} {decorate color}
        disabled : #eee #aaa #dfdfdf,
        light    : #cb99c5 #fff #fff,
        normal   : #f0d264 #fff null,
        info     : #4a87ee #fff #0456e2
    )
    <ul class="gu-toolbar gu-toolbar-light">
        <li class="item">
            <div class="cont">
                <i class="yo-ico decorate">&#xf015;</i>
                Home
            </div>
        </li>
        <li class="item">
            <div class="cont">
                <i class="yo-ico decorate">&#xf085;</i>
                TOOLS
            </div>
        </li>
        <li class="item">
            <div class="cont">
                <i class="yo-ico decorate">&#xf09b;</i>
                GITHUB
            </div>
        </li>
        <li class="item">
            <div class="cont">
                <i class="yo-ico decorate">&#xf004;</i>
                LOVE
            </div>
        </li>
    </ul>
</xmp></code>
</div>


</body>
</html>