@charset "UTF-8";
/**
 * Directory: lib/core/variables.scss
 * CSS Variables 定义各种页面沙粒变量
 * Author: huina.gu
 * Time: 2015.2.6
 */
/**
 * Directory: lib/core/classes.scss
 * Global Classes 约定常规解决方案
 * Author: huina.gu
 * Time: 2015.2.6
 */
/**
 * 给需要的属性加厂家前缀
 * @method prefix
 * @param {String} $appearance 指定属性
 * @param {String} $value 指定属性值
 */
/**
 * 定义响应式方案
 * @method responsive
 * @param {String} $media 指定媒体查询条件
 * 使用方法如下，结合variables中的$media-types：
    @include responsive(phone) {
        .foo {
            background: blue;
        }
    }
 */
/**
 * 定义字体图标
 * @method yofont
 */
/**
 * 定义UA默认外观
 * @method appearance
 * @param {String} $appearance 指定UA外观类型
 */
/**
 * 定义是否可以选中元素
 * @method user-select
 * @param {String} $user-select 指定是否可以选中
 */
/**
 * 定义渐变色值
 * @method gradient
 * @param {String} $type 指定渐变的4种类型：linear, repeating-linear, radial, repeating-radial
 * @param {String} $gradient 指定渐变取值，与原生语法一致
 */
/**
 * 定义盒模型
 * @method box-sizing
 * @param {String} $box-sizing 的2个值分别为：content-box(标准盒模型) | border-box(怪异盒模型)
 */
/**
 * 定义简单变换
 * @method transform
 * @param {String} $transform 取值与原生语法一致
 */
/**
 * 定义变换原点
 * @method transform-origin
 * @param {String} $transform-origin 取值与原生语法一致
 */
/**
 * 定义动画
 * @method animation
 * @param {String} $animation 取值与原生语法一致
 */
/**
 * 定义补间
 * @method transition
 * @param {String} $transition 取值与原生语法一致
 */
/**
 * Directory: lib/core/reset.scss
 * Global Classes 约定常规解决方案
 * Author: huina.gu
 * Time: 2015.2.6
 * Note: only for mobile
 */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

html {
  background-color: #fafafa;
  color: #212121;
  font-size: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: Helvetica Neue, Helvetica, STHeiTi, sans-serif; }

ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, figure, form, fieldset, legend, input, textarea, button, p, blockquote, th, td, pre, xmp {
  margin: 0;
  padding: 0; }

input, textarea, button, select, pre, tt, code, kbd, samp, optgroup, option {
  line-height: inherit;
  font-family: inherit; }

h1, h2, h3, h4, h5, h6, input, textarea, button, select, small, big {
  font-size: inherit; }

address, cite, dfn, em, i, optgroup, var {
  font-style: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  text-align: left; }

caption, th {
  text-align: inherit; }

ul, ol, menu {
  list-style: none; }

fieldset, img {
  border: 0; }

img {
  vertical-align: top; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "\0020"; }

textarea, pre {
  overflow: auto; }

textarea {
  resize: vertical; }

textarea, input, button, a {
  outline: 0; }

textarea, input, button {
  color: inherit; }
  textarea:disabled, input:disabled, button:disabled {
    opacity: 1; }

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0; }

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

mark {
  background-color: transparent; }

a, ins, s, u, del {
  text-decoration: none; }

a, img {
  -webkit-touch-callout: none; }

a {
  color: #00afc7; }

.g-clear::after, .g-mod::after {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  content: "\0020"; }

@font-face {
  font-family: fontawesome-webfont;
  src: url(http://source.qunarzz.com/fonts/fontawesome/4.2.0/fontawesome-webfont.eot);
  src: url(http://source.qunarzz.com/fonts/fontawesome/4.2.0/fontawesome-webfont.eot?#iefix) format("embedded-opentype"), url(http://source.qunarzz.com/fonts/fontawesome/4.2.0/fontawesome-webfont.woff) format("woff"), url(http://source.qunarzz.com/fonts/fontawesome/4.2.0/fontawesome-webfont.ttf) format("truetype"), url(http://source.qunarzz.com/fonts/fontawesome/4.2.0/fontawesome-webfont.svg#iconfont) format("svg"); }
.yo-ico {
  font-family: fontawesome-webfont !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .1px;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle; }

/**
 * Directory: lib/core/variables.scss
 * CSS Variables 定义各种页面沙粒变量
 * Author: huina.gu
 * Time: 2015.2.6
 */
/**
 * Directory: lib/core/classes.scss
 * Global Classes 约定常规解决方案
 * Author: huina.gu
 * Time: 2015.2.6
 */
/**
 * 给需要的属性加厂家前缀
 * @method prefix
 * @param {String} $appearance 指定属性
 * @param {String} $value 指定属性值
 */
/**
 * 定义响应式方案
 * @method responsive
 * @param {String} $media 指定媒体查询条件
 * 使用方法如下，结合variables中的$media-types：
    @include responsive(phone) {
        .foo {
            background: blue;
        }
    }
 */
/**
 * 定义字体图标
 * @method yofont
 */
/**
 * 定义UA默认外观
 * @method appearance
 * @param {String} $appearance 指定UA外观类型
 */
/**
 * 定义是否可以选中元素
 * @method user-select
 * @param {String} $user-select 指定是否可以选中
 */
/**
 * 定义渐变色值
 * @method gradient
 * @param {String} $type 指定渐变的4种类型：linear, repeating-linear, radial, repeating-radial
 * @param {String} $gradient 指定渐变取值，与原生语法一致
 */
/**
 * 定义盒模型
 * @method box-sizing
 * @param {String} $box-sizing 的2个值分别为：content-box(标准盒模型) | border-box(怪异盒模型)
 */
/**
 * 定义简单变换
 * @method transform
 * @param {String} $transform 取值与原生语法一致
 */
/**
 * 定义变换原点
 * @method transform-origin
 * @param {String} $transform-origin 取值与原生语法一致
 */
/**
 * 定义动画
 * @method animation
 * @param {String} $animation 取值与原生语法一致
 */
/**
 * 定义补间
 * @method transition
 * @param {String} $transition 取值与原生语法一致
 */
/**
 * Directory: lib/layout/classes.scss
 * Global Layout Classes 约定布局方案
 * Author: joy.du(飘零雾雨)
 * Time: 2012.1.1
 */
/**
 * document: doc
 * Author: joy.du(飘零雾雨)
 * Time: 2012.1.1
 ------------------------
 * @method doc
 * @param {String} $name 定义page-name
 * @param {String} $fixed 定义头尾是否固定
 * @param {Length} $hd-gap 定义主体到viewport顶部的距离
 * @param {Length} $ft-gap 定义主体到viewport底部的距离
 */
/**
 * Directory: lib/core/variables.scss
 * CSS Variables 定义各种页面沙粒变量
 * Author: huina.gu
 * Time: 2015.2.6
 */
/**
 * Directory: lib/core/classes.scss
 * Global Classes 约定常规解决方案
 * Author: huina.gu
 * Time: 2015.2.6
 */
/**
 * 给需要的属性加厂家前缀
 * @method prefix
 * @param {String} $appearance 指定属性
 * @param {String} $value 指定属性值
 */
/**
 * 定义响应式方案
 * @method responsive
 * @param {String} $media 指定媒体查询条件
 * 使用方法如下，结合variables中的$media-types：
    @include responsive(phone) {
        .foo {
            background: blue;
        }
    }
 */
/**
 * 定义字体图标
 * @method yofont
 */
/**
 * 定义UA默认外观
 * @method appearance
 * @param {String} $appearance 指定UA外观类型
 */
/**
 * 定义是否可以选中元素
 * @method user-select
 * @param {String} $user-select 指定是否可以选中
 */
/**
 * 定义渐变色值
 * @method gradient
 * @param {String} $type 指定渐变的4种类型：linear, repeating-linear, radial, repeating-radial
 * @param {String} $gradient 指定渐变取值，与原生语法一致
 */
/**
 * 定义盒模型
 * @method box-sizing
 * @param {String} $box-sizing 的2个值分别为：content-box(标准盒模型) | border-box(怪异盒模型)
 */
/**
 * 定义简单变换
 * @method transform
 * @param {String} $transform 取值与原生语法一致
 */
/**
 * 定义变换原点
 * @method transform-origin
 * @param {String} $transform-origin 取值与原生语法一致
 */
/**
 * 定义动画
 * @method animation
 * @param {String} $animation 取值与原生语法一致
 */
/**
 * 定义补间
 * @method transition
 * @param {String} $transition 取值与原生语法一致
 */
/**
 * Directory: lib/layout/classes.scss
 * Global Layout Classes 约定布局方案
 * Author: joy.du(飘零雾雨)
 * Time: 2012.1.1
 */
/**
 * Layout: gu-stacked
 * Author: joy.du(飘零雾雨)
 * Edit: 2015.1.15
 -----------------------
 * @method stacked
 * variables length(2)
 * @param {defailt | String} $name 定义名称
 * @param {defailt | Color} $margin 定义外边距
 */
.gu-stacked {
  display: block;
  margin: 0.2rem 0.1rem; }
  .gu-stacked::after {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    content: "\0020"; }

/**
* document layout
* Author: joy.du(飘零雾雨)
* Time: 2013.10.17
*/
.g-footer {
  position: absolute;
  bottom: 0;
  width: 100%; }

/**
 * module: m-demo
 * Author: joy.du(飘零雾雨)
 * Time: 2013.10.17
 */
@media screen and (min-width: 800px) {
  .m-demo {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin: .1rem; } }
.m-demo .device .stage {
  position: relative;
  height: 5.68rem; }
@media screen and (min-width: 800px) {
  .m-demo .device {
    position: relative;
    width: 3.66rem;
    height: 7.83rem;
    border: .05rem solid #505559;
    border-radius: .55rem;
    background-color: #313538; }
    .m-demo .device::before, .m-demo .device::after {
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%);
      -moz-transform: translate(-50%);
      transform: translate(-50%);
      content: "\0020"; }
    .m-demo .device::before {
      top: .58rem;
      width: .68rem;
      height: .08rem;
      border-radius: 4px;
      background-color: #3e4243; }
    .m-demo .device::after {
      bottom: .18rem;
      width: 0.65rem;
      height: 0.65rem;
      border: .05rem solid #3e4243;
      border-radius: 50%; }
    .m-demo .device .stage {
      top: .99rem;
      left: .18rem;
      width: 3.20rem;
      background-color: #fff; }
      .m-demo .device .stage, .m-demo .device .stage::before {
        position: absolute; }
      .m-demo .device .stage::before {
        top: -.68rem;
        left: 50%;
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        transform: translate(-50%);
        width: 0.1rem;
        height: 0.1rem;
        border-radius: 50%;
        background-color: #3e4243;
        box-shadow: -.5rem .26rem #3e4243;
        content: "\0020"; } }
.m-demo .code {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: block;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  margin: .1rem 0;
  border-width: .04rem 0 .04rem 0;
  border-style: solid;
  border-color: #D7DBE4;
  padding: .1rem;
  background-color: #F0F3F8;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace; }
  @media screen and (min-width: 800px) {
    .m-demo .code {
      margin: .1rem;
      border-width: 0 0 0 .04rem; } }
  .m-demo .code h3 {
    margin-top: .1rem; }

/**
 * module: m-code
 * Author: joy.du(飘零雾雨)
 * Time: 2013.10.17
 */
.m-code {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background: #272822;
  color: #51bbe1;
  font-size: 20px; }
  .m-code .method {
    color: #93de08; }
  .m-code .bracket,
  .m-code .colon {
    padding-right: 5px;
    color: #fff; }
  .m-code mark {
    background: none;
    color: #ccc;
    font-size: 16px; }

.stage {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.gu-loading {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.cyclinder {
  width: 6px;
  height: 22px;
  border-radius: 9px;
  background: #0ac2d2;
  display: block;
  margin: 20px;
  -webkit-animation: moveAround 2.1s ease infinite;
  animation: moveAround 2.1s ease infinite; }

.original {
  position: absolute;
  top: 45%;
  left: 45%; }

.reverse {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: rotate(180deg); }

.reverse .cyclinder {
  background: #7bb7fa; }

.top {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: rotate(-90deg); }

.top .cyclinder {
  background: #fd6a62; }

.bottom {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: rotate(90deg); }

.bottom .cyclinder {
  background: #fdc162; }

.circle-box {
  position: absolute;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.circle {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #f68dbb;
  margin-left: 20px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-animation: fade 3s ease infinite;
  animation: fade 3s ease infinite; }

.pop {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .pop .cricle {
    width: .3rem;
    height: .3rem;
    background: #fdc162;
    display: inline-block;
    border-radius: 50%;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-animation: zoom 3s ease infinite;
    animation: zoom 3s ease infinite; }
  .pop .cricle:nth-child(2) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    background: #fd6a62; }
  .pop .cricle:nth-child(3) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    background: #0ac2d2; }
  .pop .ring {
    width: .6rem;
    height: .6rem;
    border: .03rem solid #60d7a9;
    border-radius: 50%;
    -webkit-animation: rotate 2s linear infinite;
    -moz-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite; }
    .pop .ring .dot {
      width: .1rem;
      height: .1rem;
      background: #60d7a9;
      border-radius: 50%;
      -webkit-transform: translate(0.05rem, 0.05rem);
      -moz-transform: translate(0.05rem, 0.05rem);
      transform: translate(0.05rem, 0.05rem); }
  .pop .rect {
    width: .05rem;
    height: .03rem;
    background: #7bb7fa;
    display: inline-block;
    -webkit-animation: audioWave 1.5s linear infinite;
    -moz-animation: audioWave 1.5s linear infinite;
    animation: audioWave 1.5s linear infinite; }
    .pop .rect:nth-child(2) {
      -webkit-animation-delay: 0.4s; }
    .pop .rect:nth-child(3) {
      -webkit-animation-delay: 0.6s; }
    .pop .rect:nth-child(4) {
      -webkit-animation-delay: 0.8s; }
    .pop .rect:nth-child(5) {
      -webkit-animation-delay: 1s; }
    .pop .rect:nth-child(6) {
      -webkit-animation-delay: 1.2s; }
    .pop .rect:nth-child(7) {
      -webkit-animation-delay: 1.4s; }
    .pop .rect:nth-child(8) {
      -webkit-animation-delay: 1.6s; }
    .pop .rect:nth-child(9) {
      -webkit-animation-delay: 1.8s; }
  .pop .square {
    width: .3rem;
    height: .3rem;
    background: #fd6a62;
    display: inline-block;
    -webkit-animation: cubemove 1.8s ease-in-out infinite;
    -moz-animation: cubemove 1.8s ease-in-out infinite;
    animation: cubemove 1.8s ease-in-out infinite; }
    .pop .square:nth-child(2) {
      background: #60d7a9;
      position: relative;
      left: -.3rem;
      -webkit-animation-delay: 0.9s; }

@-webkit-keyframes moveAround {
  0% {
    -webkit-transform: translateX(0); }
  35% {
    -webkit-transform: translateX(400%) translateY(0%) rotate(0deg); }
  50% {
    -webkit-transform: translateX(500%) translateY(50%) rotate(45deg); }
  85% {
    -webkit-transform: translateX(30%) translateY(-50%) rotate(45deg); }
  100% {
    -webkit-transform: translateX(0%) translateY(0%) rotate(0deg); } }
@keyframes moveAround {
  0% {
    transform: translateX(0); }
  35% {
    transform: translateX(400%) translateY(0%) rotate(0deg); }
  50% {
    transform: translateX(500%) translateY(50%) rotate(45deg); }
  85% {
    transform: translateX(30%) translateY(-50%) rotate(45deg); }
  100% {
    transform: translateX(0%) translateY(0%) rotate(0deg); } }
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@-webkit-keyframes cubemove {
  25% {
    -webkit-transform: translateX(0.6rem) rotate(-90deg) scale(0.5); }
  50% {
    -webkit-transform: translateX(0.6rem) translateY(0.6rem) rotate(-180deg); }
  75% {
    -webkit-transform: translateX(0px) translateY(0.6rem) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg); } }
@keyframes cubemove {
  25% {
    transform: translateX(0.6rem) rotate(-90deg) scale(0.5); }
  50% {
    transform: translateX(0.6rem) translateY(0.6rem) rotate(-180deg); }
  75% {
    transform: translateX(0px) translateY(0.6rem) rotate(-270deg) scale(0.5); }
  100% {
    transform: rotate(-360deg); } }
@-webkit-keyframes audioWave {
  50% {
    -webkit-transform: scale(1, 15); }
  0%, 100% {
    -webkit-transform: scale(1, 1); } }
@keyframes audioWave {
  50% {
    transform: scale(1, 15); }
  0%, 100% {
    transform: scale(1, 1); } }
@-webkit-keyframes zoom {
  50% {
    -webkit-transform: scale(1);
    opacity: 0.5; }
  0%, 100% {
    -webkit-transform: scale(0.5);
    opacity: 1; } }
@keyframes zoom {
  50% {
    transform: scale(5) translateX(80%) translateY(-50%);
    opacity: 0.5; }
  0%, 100% {
    transform: scale(1) translateX(0%) translateY(0%);
    opacity: 1; } }
@font-face {
  font-family: 'icomoon';
  src: url("http://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.eot?-9haulc");
  src: url("http://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.eot?#iefix-9haulc") format("embedded-opentype"), url("http://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.woff?-9haulc") format("woff"), url("http://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.ttf?-9haulc") format("truetype"), url("http://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.svg?-9haulc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-spin:before {
  content: "\e000"; }

.icon-spin-2:before {
  content: "\e001"; }

.icon-spin-3:before {
  content: "\e002"; }

.icon-spin-4:before {
  content: "\e003"; }

.icon-spin-5:before {
  content: "\e004"; }

.icon-spin-6:before {
  content: "\e005"; }

.icon-spin-7:before {
  content: "\e006"; }

@-webkit-keyframes anim-rotate {
  0% {
    -webkit-transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes anim-rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
.spin {
  display: inline-block;
  font-size: 4em;
  height: 1em;
  line-height: 1;
  margin: .5em;
  -webkit-animation: anim-rotate 2s infinite linear;
  animation: anim-rotate 2s infinite linear;
  color: #eee;
  text-shadow: 0 0 0.25em rgba(255, 255, 255, 0.3); }

.spin--steps {
  -webkit-animation: anim-rotate 1s infinite linear;
  animation: anim-rotate 1s infinite linear; }

.spin--steps2 {
  -webkit-animation: anim-rotate 1s infinite linear;
  animation: anim-rotate 1s infinite linear; }

.talign-center {
  text-align: center; }
